.footer-section {
  display: flex;
  align-items: baseline;
}
.footer__social-call {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
.social-list.footer {
  margin: 0;
}
.footer__social-link {
  display: block;
  margin-left: 70px;
}

.social-list__link.footer {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-background-color);
  }
}
